.munch-paintings{
		width: 25%;
		margin: 2%;
		height: auto;
		opacity: 0;
		animation: fadeIn forwards;
}

#upload-art-image{
		margin: 1%;
}

#artNameText {
	border-radius: 5px;
	height: 30px;
	width: 40%;
	margin-bottom: 10px;
}

@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
}

#qr-code-image {
    position: absolute;
    right: 10vw;
    top: 10vh;
    width: 7%;
    height: auto;
}

#qr-text {
  position: absolute;
  right: 6vw;
  top: 25vh; 
}

#painting-1 {
		animation-delay: 0s;
		animation-duration: 5s;
	}
	
	#painting-2 {
		animation-delay: 2s;
		animation-duration: 5s;
	}
	
	#painting-3 {
		animation-delay: 4s;
		animation-duration: 5s;
}

#upload-btn {
		cursor: pointer;
		color: #ffffff;  
		transition: color 0.3s ease, transform 0.3s ease;
}

#upload-btn.hovered,
#upload-btn:hover {
		color: rgb(235, 163, 152);
		transform: scale(1.05);
}

#munchified-picture {
	height: 45vh;
	width: 45vh;
}