body {
    background-color: #0F2334;
    color: #FFFFFF;
    /*overflow: hidden;*/
    font-family: "aktiv-grotesk", sans-serif
}

a {
    color:rgb(235, 163, 152);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

a.hovered,
a:hover {
    color:white;
    transform: scale(1.05);
  }

#customized-container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: -5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Logo{
    margin-left: 2%;
}

@font-face {
    font-family: "aktiv-grotesk";
    src: url("../assets/fonts/AktivGrotesk-Bold.woff") format("woff")
}