body {
    background-color: #0F2334;
    color: #FFFFFF;
    font-family: "aktiv-grotesk", sans-serif
}

a {
    color: #EBA299;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

#customized-container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 0.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: "aktiv-grotesk";
    src: url("../assets/fonts/AktivGrotesk-Bold.woff") format("woff")
}