.background-bar {
    justify-content: center;
    margin-right: 5vw;
    max-height: 800px;
    min-width: 10vw;
    overflow: scroll;
}

.background-option {
    width: 150px;
    height: 100px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-wrapper {
    position: relative;
    min-width: 800px;
    overflow: hidden;

}

.background-option.selected {
    opacity: 1;
}

.selected-image-container {
    position: relative;
    margin-top: 20px;
}

element::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


.selected-background {
    position: relative;
    width: 800px;
    height: 800px;
    border-radius: 10px;
    object-fit: contain;
    border: 2px solid #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selected-image {
    top: 0;
    left: 0;
    object-fit: contain;
    z-index: 1;
	user-select: none;
  }
  
  .combine-btn {
    font-family: girott, sans-serif;
    font-size: 24px;
    position: relative;    
    user-select: none;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;    
  }
  
  .combine-btn.hovered {
    color: rgb(235, 163, 152);
  }
  
  .combine-btn:hover {
    color: rgb(235, 163, 152);
}

#icon-mover {
    position: relative;
    height: 250px;
    width: 250px;     
	margin-top: 40vh; 
}

.arrows{
    cursor: pointer;
    float: right;
    color: #ffffff;
    transition: color 0.3s ease, transform 0.3s ease;
}

.arrows:hover{
    color: rgb(235, 163, 152);
    transform: scale(1.05);
}

#arrow-left {
    position: absolute;
    height: 20%;
    left: 10%;
    top:20%;    
}

#arrow-right {
    position: absolute;
    height: 20%;
    left: 40%;
    top:20%;
}

#arrow-up {
    position: absolute;    
    top: 5%;
    height: 20%;
    left: 25%;
}

#arrow-down {
    position: absolute;
    top: 35%;
    height: 20%;
    left: 25%;    
}

.background-bar::-webkit-scrollbar {
	width: 20px;
}

.background-bar::-webkit-scrollbar-track {
	background-color: transparent;
}

.background-bar::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

.background-bar::-webkit-scrollbar-corner {
	background-color: transparent;
}