#results-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: center;
    width: 80vw;
    height: 85vh;
}
#results-wrapper > img {
    margin: 1em 1em 0 0;
    user-select: none;
    height: 39vh;
}

#next-icon {
    position: absolute;
    height: 15vh;
    bottom: 5vh;
    right: 5vw;
}