#results-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: center;
    width: 80vw;
    height: 85vh;
}
#results-wrapper > * {
    margin: 1em 1em 0 0;
    user-select: none;
    height: 39vh;
    width: 39vh;
}

#next-icon {
    position: absolute;
    height: 15vh;
    bottom: 5vh;
    right: 5vw;
}

#choose-your-masterpiece {
    display: flex;
    align-items: center;
    background-color: #194842;
    border-radius: 1em;
}